# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Virtual environment
# ========================
venv/
.env

# ========================
# Data (NO subir Big Data)
# ========================
data/raw/*
data/processed/*
data/chroma_db/*
# Node
node_modules/
src/phase4/node_modules/
*.tif
*.tiff
*.h5
*.keras
*.pth

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db.vscode/
